.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: fixed;
  background-color: #00000080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
}

.modal_type_preview {
  padding: 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: #ffff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-color: #ffff;
  color: #212121;
  opacity: 40%;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_delete {
  top: -6px;
  right: -40px;
  background-color: transparent;
}

.modal__close-btn_type-preview {
  top: 0;
  right: -52.5px;
  background-color: transparent;
  color: #fff;
  opacity: 1;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3 ease;
}

.modal__close-btn_type-preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  margin: 0;
  gap: 8px;
  border-radius: 8px;
}

.modal__input {
  border: 1px solid #21212166;
  width: 100%;
  margin: 8px 0 0;
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border-radius: 8px;
}

.modal__input_type_error {
  border: 1px solid;
  color: #ff0000;
  opacity: 60%;
}

.modal__error {
  visibility: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  margin-top: 8px;
  color: #ff0000;
  opacity: 70%;
}

.modal__error_visible {
  visibility: visible;
}

.modal__label {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  font-size: 16px;
}

.modal__submit-btn {
  height: 52px;
  max-width: 156px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  background-color: #808080;
  pointer-events: none;
}

.modal__submit-btn:hover {
  opacity: 80%;
  transition: opacity 0.3 ease;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
  align-items: center;
}

.modal__caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  color: #fff;
  width: fit-content;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
}
.modal__close-btn_type_delete {
  top: -6px;
  right: -40px;
  background-color: transparent;
  opacity: 1;
}

.modal__container_type_delete {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.modal__form_type_delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px, 32px;
  justify-content: center;
  width: 630px;
  gap: 12px;
}

.modal__submit-btn_type_delete {
  background-color: #ff6565;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  max-width: 156px;
  min-width: 120px;
  border: none;
  cursor: pointer;
}
.modal__submit-btn_type_delete:hover {
  background-color: #ff3333;
  opacity: 1;
}

.modal__submit-btn_type_cancel {
  background-color: #fff;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 156px;
  cursor: pointer;
}
.modal__submit-btn_type_cancel:hover {
  background-color: #212121;
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type-preview {
    top: -48px;
    right: 0;
    size: 16px;
    line-height: 1;
  }

  .modal__close-btn_type_delete {
    top: -28px;
    right: -40px;
    background-color: transparent;
  }
  .modal__form_type_delete {
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    gap: 8px;
  }
  .modal__container_type_delete {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
  }

  .modal__container_type_delete {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_type-preview {
    top: -48px;
    right: 0;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__input {
    font-size: 16px;
  }
  .modal__submit-btn {
    max-width: none;
    margin-right: -32px;
  }

  #delete-modal .modal__container {
    padding: 32px 20px 32px 20px;
    margin: 0 16px;
  }

  #delete-modal .modal__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 32px;
  }

  .modal__close-btn_type_delete {
    top: -50px;
    right: 4px;
    background-color: transparent;
  }

  .modal__form_type_delete {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .modal__submit-btn_type_delete,
  .modal__submit-btn_type_cancel {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 16px;
    font-size: 16px;
  }

  .modal__submit-btn_type_cancel {
    border: 1px solid #212121;
  }
}
