.profile {
  display: flex;
  padding: 34px 20px 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  justify-content: space-between;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 20px;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
}
.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  color: #000;
  opacity: 50%;
  border-radius: 8px;
}

.profile__avatar-btn:after {
  content: "Edit Avatar";
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  color: #212121;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__edit-btn {
  display: flex;
  background-color: transparent;
  margin-top: auto;
  border: none;
  padding: 0;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  opacity: 70%;
  transition: 1s;
}
.profile__edit-btn:hover {
  opacity: 100%;
  transition: smooth;
}
.profile__plus-btn {
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border: 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  transition: 1s;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.profile__plus-btn:hover {
  opacity: 80%;
  transition: smooth;
}

.profile__btn-img {
  padding-right: 8px;
  width: 12px;
  height: 12px;
  margin: auto;
}
@media screen and (max-width: 672px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    max-width: 288px;
  }

  .profile__avatar-btn {
    visibility: visible;

    gap: 8px;
    color: #212121;
    opacity: 60px;
  }

  .profile__avatar-btn:after {
    content: "";
  }
  .profile__avatar-container {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    font-size: 20px;
  }
  .profile__description {
    margin: 0 0 32px;
  }
  .profile__edit-btn {
    margin: 0 auto;
  }

  .profile__column {
    margin: 0 0 20px;
  }
  .profile__plus-btn {
    margin: 0;
    width: 100%;
  }
}
